header {                            /* Офоромление навигационной панели */
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #1a1717;
    box-shadow: 0 5px 12px #1a1717;
}

.menu {                             /* Офоромление отступа в блоке навигаци */
    flex-grow: 1;
}

.tab {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 30px;
}

.menu ul {                          /* Офоромление немаркированного списка */
    list-style: none;
}

.logo {                             /* Офоромление блока с названием сайта */
    margin-right: 30px;
    color: #e6e3e3;
    font-size: 20px;
    margin: 15px 15px;
    letter-spacing: 1.6px;
    font-family: Courier, monospace;
    font-weight: 800;
}

.log {                              /* Офоромление блока с ссылками в навинационной панели */
    line-height: 24px;
    margin: 20px 60px;
    font-family: Courier, monospace;
    text-decoration: none;
    font-size: 20px;
    margin: 50px 50px;
    letter-spacing: 1.6px;
    color: #e6e3e3;
    font-weight: 800;
}

.h {                                /* Офоромление ссылки */
    line-height: 24px;
    margin: 20px 60px;
    font-family: Courier, monospace;
    text-decoration: none;
    font-size: 20px;
    margin: 50px 50px;
    letter-spacing: 1.6px;
    color: #e6e3e3;
    font-weight: 800;
    margin: 20px;
}

.card {                             /* Офоромление поля для текста */
    width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 10px 15px #1a1717;
    border-radius: 30px;
    border-color: #1a1717;
}

.card-text {                       /* Офоромление текста в карточке */
    font-family: Courier, monospace;
    font-weight: normal;
    text-align: justify;
    line-height: 150%;
    font-weight: 800;
}

* {                                 /* Селектор для всех элементов страницы */
   box-sizing: border-box;
}

body {                              /* Оформление фона */
    background-image: url(../img/texture.jpg);
    margin: 0;
}

.card-title {                       /* Оформление названия карточки */
    font-family: Courier, monospace;
    font-weight: normal;
    text-align: center;
    line-height: 150%;
    font-weight: 800;
}

.card-photo {                      /* Оформление названия карточки */
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 30px;
}

.card-bio {                        /* Оформление карточки участника */
    display: inline-block;
    width: 400px;
    margin: 0 100px;
    padding: 20px;
    background-color: #fff;
    box-shadow:  0 10px 15px #1a1717;
    border-radius: 30px;
}

.block1 {                           /* Оформление карточки текста и схемой БП */
    text-align: center;
    margin: 0px auto;
    padding: 20px;
}

.card-list {                        /* Оформление немаркированного списка в карточке */
    padding-left: 0;
    list-style-position: inside;
    font-family: Courier, monospace;
    font-weight: normal;
    text-align: justify;
    line-height: 150%;
    font-weight: 800;
}

.link {                             /* Оформление ссылки */
    text-decoration: none;
    color: #1a1717;
    font-family: Courier, monospace;
    font-weight: normal;
    text-align: justify;
    line-height: 150%;
    font-weight: 800;
}

.bpmn {                             /* Оформление картинки со схемой БП */
    display: inline-block;
    width: 640px;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 10px 15px #1a1717;
    border-radius: 30px;
    border-color: #1a1717;
}

.bpmn-text {                         /* Оформление блока с текстом */
    margin: 10px;
    vertical-align: top;
    display: inline-block;
    width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 10px 15px #1a1717;
    border-radius: 30px;
    border-color: #1a1717;
}

a:hover {                           /* Оформление взаимодействия пользователя со ссылкой */
    border-bottom: 1px solid;
    background: #615ce3;
}

a:focus {                           /* Оформление взаимодействия пользователя со ссылкой */
    border-bottom: 1px solid;
    background: #615ce3;
}

.rate {                             /* Оформление блока с рейтингом */
    width: 1440px;
    margin: 5px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 10px 15px #1a1717;
    border-color: #1a1717;
}
